*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:
    linear-gradient(
        rgba(20,15,10,0.7),
        rgba(20,15,10,0.7)
    ),
    url("https://images.unsplash.com/photo-1518709268805-4e9042af2176");

    background-size:cover;
    background-position:center;

    font-family:Georgia, serif;
}

.container{

    width:90%;
    max-width:650px;

    background:#f4ecd8;

    border:8px solid #6b4f2a;

    border-radius:20px;

    padding:40px;

    box-shadow:
    0 0 30px rgba(0,0,0,0.5);

    text-align:center;
}

h1{

    color:#4b2e14;

    font-size:2.5rem;

    margin-bottom:15px;
}

p{

    color:#5d4630;

    margin-bottom:30px;

    line-height:1.6;
}

.box{

    margin:20px 0;

    text-align:left;
}

label{

    display:block;

    margin-bottom:8px;

    font-weight:bold;

    color:#4b2e14;
}

select{

    width:100%;

    padding:12px;

    border:2px solid #8b6f47;

    border-radius:10px;

    background:#fffaf0;

    font-size:16px;
}

button{

    width:100%;

    margin-top:20px;

    padding:15px;

    border:none;

    border-radius:12px;

    background:#6b4f2a;

    color:white;

    font-size:18px;

    font-weight:bold;

    cursor:pointer;

    transition:0.3s;
}

button:hover{

    background:#8b6f47;

    transform:scale(1.03);
}

#result{

    margin-top:30px;

    padding:20px;

    background:#fffaf0;

    border:3px solid #8b6f47;

    border-radius:15px;

    color:#4b2e14;

    font-size:22px;

    font-weight:bold;
}
